@use '../../00-settings/color-bundles' as colorBundles;
@use 'primary';

$color: colorBundles.$interactionDarkColor;
$backgroundColor: transparent;
$borderColor: colorBundles.$interactionDarkColor;
$hover__backgroundColor: rgba(colorBundles.$interactionDarkColor--rgb, 0.07);
$hover__borderColor: colorBundles.$interactionDarkHover;

%button--primary-inverted,
.button--primary-inverted {
  color: $color;
  border-color: $borderColor;
  background-color: $backgroundColor;

  &:hover,
  &:active {
    color: $color;
    border-color: $hover__borderColor;
    background-color: $hover__backgroundColor;
  }
}
