@use '../../00-settings/color-bundles' as colorBundles;
@use 'default';

$color: colorBundles.$lightText;
$backgroundColor: colorBundles.$interactionDarkColor;
$borderColor: $backgroundColor;
$hover__backgroundColor: colorBundles.$interactionDarkHover;
$hover__borderColor: $hover__backgroundColor;

%button--primary,
.button--primary {
  color: $color;
  border-color: $borderColor;
  background-color: $backgroundColor;

  &:hover,
  &:active {
    color: $color;
    border-color: $hover__borderColor;
    background-color: $hover__backgroundColor;
  }
}
