@use 'default';
@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';

$color: colorBundles.$lightText;
$backgroundColor: colorBundles.$interactionLightColor;
$borderColor: $backgroundColor;
$hover__backgroundColor: colorBundles.$interactionLightHover;
$hover__borderColor: $hover__backgroundColor;

%button--secondary,
.button--secondary {
  color: $color;
  border-color: $borderColor;
  background-color: $backgroundColor;

  &:hover,
  &:active {
    color: $color;
    border-color: $hover__borderColor;
    background-color: $hover__backgroundColor;
  }
}
