@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';
@use 'secondary';

$color: colorBundles.$interactionLightColor;
$backgroundColor: transparent;
$borderColor: colorBundles.$interactionLightColor;
$hover__color: colorBundles.$interactionLightHover;
$hover__backgroundColor: rgba(colorBundles.$interactionLightColor--rgb, 0.08);
$hover__borderColor: colorBundles.$interactionLightHover;


%button--secondary-inverted,
.button--secondary-inverted {
  color: $color;
  border-color: $borderColor;
  background-color: $backgroundColor;

  &:hover,
  &:active {
    color: $hover__color;
    border-color: $hover__borderColor;
    background-color: $hover__backgroundColor;
  }
}
