@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';
@use '../../00-settings/mixins';

$color: colorBundles.$interactionLightColor;
$hover__color: colorBundles.$interactionLightHover;
$transition--color: variables.$transitions__colorTransition;
$textLink__textDecoration: underline;
$textLink__textUnderlineOffset: variables.$typography__link__textUnderlineOffset;
$link__font: variables.$typography__link__font;

a,
.link:not(.button),
%link {
  @include mixins.focusState__focusState;
  color: $color;
  text-decoration: none;
  background-color: unset;
  border: none;

  &:hover {
    color: $hover__color;
    text-decoration: $textLink__textDecoration;
    text-underline-offset: $textLink__textUnderlineOffset;
    transition: $transition--color;
  }

  &.is-active {
    color: $hover__color;
  }
}
