@use 'sass:math';
@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';
@use '../../00-settings/mixins';
@use '../../02-atoms/tags';

$body__color: colorBundles.$secondary;
$backgroundColor: colorBundles.$panelBackground;
$borderColor: rgba(colorBundles.$dividerLine--rgb, 0.5);
$borderColor--decor: colorBundles.$utilityWarning;
$borderRadius: variables.$borderRadius__borderRadius--extraLarge;
$boxShadow: variables.$shadows__boxShadow;
$hover__boxShadow: variables.$shadows__boxShadow--hover;
$gap: variables.$layout__spacing * 0.375;
$padding: variables.$layout__spacing;
$cardImage__height: 130px;
$cardHeaderImage__height: 170px;
$cardImage__overlay: linear-gradient(to top, rgba(colorBundles.$interactionDarkColor--rgb, 0.4), transparent);
$link__font: variables.$typography__cardLink__font;
$link__fontSize: variables.$typography__fontSize--small;
$link__textTransform: uppercase;
$link__letterSpacing: 2.75px;
$link__underlineDecoration: colorBundles.$dividerLine--gradient;
$overline__color: colorBundles.$secondary;

%card,
.card {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
  padding: $padding;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  position: relative;
  z-index: 1;
  box-shadow: $boxShadow;
  background-color: $backgroundColor;
  height: 100%;
}

.card__header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $gap;
}

.card__header--with-image {
  display: block
}

.card__title {
  @include mixins.fonts__setFontFromStack(variables.$typography__h1--hero__font...);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: $gap;
  flex: 1;
  color: $body__color;

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.card__image {
  position: relative;
  height: $cardImage__height;
  border-radius: $borderRadius;

  &::before {
    content: '';
    position: absolute;
    display: block;
    height: $cardImage__height;
    width: 100%;
    background: $cardImage__overlay;
    border-radius: $borderRadius;
    z-index: 1;
  }

  img {
    object-fit: cover;
  }
}

.card__image--header {
  height: $cardHeaderImage__height;
  border-radius: $borderRadius $borderRadius 0 0;
  margin: (-$padding) (-$padding) math.div($padding, 1.6) (-$padding);

  &::before {
    height: $cardHeaderImage__height;
  }
}

.card__link {
  @include mixins.fonts__setFontFromStack($link__font...);
  font-size: $link__fontSize;
  text-transform: $link__textTransform;
  letter-spacing: $link__letterSpacing;
  margin-top: math.div(variables.$layout__spacing, 2);
}

.card__link--arrow {
  position: relative;
  display: flex;
  align-items: center;
  gap: $gap * 0.5;
  width: fit-content;

  &::after {
    @include mixins.fonts__setFontIcon(variables.$icons__arrowRight);
    font-size: variables.$typography__icon__fontSize--small;
    font-weight: normal;
    width: variables.$typography__icon__fontSize--small;;
  }

  &:hover,
  &:active {
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      background: $link__underlineDecoration;
      height: 2px;
      width: calc(100% - variables.$typography__icon__fontSize--small - ($gap * 0.5));
      bottom: 0;
    }
  }
}

.card__tags {
  .field__items {
    @extend %tags;
    list-style: none;
  }

  .field__item {
    @extend %tag, %tag--light;
  }
}

.card__overline {
  @include mixins.fonts__setFontFromStack(variables.$typography__text--small__font...);
  font-size: variables.$typography__fontSize--extraSmall;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $overline__color;
}

.card--two-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: math.div(variables.$layout__spacing, 1.6);

  .card__left,
  .card__right {
    display: flex;
    flex-direction: column;
    row-gap: $gap;
  }

  .card__header {
    align-items: center;
    flex-direction: row;
  }

  @include mixins.mediaQueries__forTabletLandscapeDown {
    flex-direction: column;
  }
}

.card--quicklink {
  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: $hover__boxShadow;
  }

  &:has(.card__link:focus-visible) {
    outline: variables.$focusState__outlineColor variables.$focusState__outlineStyle variables.$focusState__outlineWidth;
    outline-offset: variables.$focusState__outlineOffset;
    box-shadow: variables.$focusState__outlineBoxShadow;
  }

  .card__link {
    position: absolute;
    inset: 0;
    font-size: 0;
    z-index: 2;

    &:focus-visible {
      outline: none;
      outline-offset: none;
      box-shadow: none;
    }
  }
}

.card--journal-entry {
  border-left: 6px solid $borderColor--decor;

  .card__image {
    width: 176px;
  }

  @include mixins.mediaQueries__forTabletLandscapeDown {
    .card__image {
      width: 100%;
    }
  }
}
