@use 'sass:math';
@use '../../00-settings/variables';
@use '../../00-settings/mixins';

$elementSize--thin: calc(#{math.div(8, variables.$layout__grid__columns)} * #{variables.$layout__container__width});
$elementSize--extraThin: calc(#{math.div(4, variables.$layout__grid__columns)} * #{variables.$layout__container__width});

.thin {
  @include mixins.mediaQueries__forTabletPortraitUp {
    max-width: $elementSize--thin;
  }
}

.extra-thin {
  @include mixins.mediaQueries__forTabletPortraitUp {
    max-width: $elementSize--extraThin;
  }
}
