@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';
@use '../../00-settings/mixins';

$color: colorBundles.$secondary;
$active__color: colorBundles.$primary;
$fontSize: variables.$typography__fontSize--small;
$icon__color: colorBundles.$secondary;
$gap: 6px;
$padding: (variables.$layout__spacing * 0.25) 0;

#breadcrumbs {
  font-size: $fontSize;
  padding: $padding;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap;
    padding-left: 0;
    margin: 0;
    list-style: none;


    > li {
      display: flex;
      align-items: center;
      gap: $gap;

      a {
        color: $color;
        border-radius: variables.$borderRadius__borderRadius--base;

        &:hover {
          color: $active__color;
        }
      }

      &:not(:last-of-type) {
        &::after {
          @include mixins.fonts__setFontIcon(variables.$icons__chevronRight);
          font-size: variables.$typography__icon__fontSize--medium;
          color: $icon__color;
          line-height: initial;
        }
      }

      &:last-of-type {
        color: $active__color;
        font-weight: 500;
      }
    }
  }
}
