$colors: (
  color__primary-1: #36472E,
  color__primary-2: #5E6947,
  color__primary-3: #98A57C,
  color__primary-4: #C6CFB5,
  color__accent-1: #8D74B8,
  color__accent-2: #C8B9DD,
  color__white: #FFFFFF,
  color__black: #000000,
  color__neutral-1: #F9F6F1,
  color__neutral-2: #F2EEE6,
  color__neutral-3: #DDD6CA,
  color__neutral-4: #3B3A34,
  color__neutral-5: #6E7068,
  color__success: #5E7D48,
  color__warning: #D3A64A,
  color__error: #B75D5D,
  color__info: #7A9D9C,
  color__focus: #7A5CC7,
);
