@use 'sass:map';
@use 'colors';

// Interactive elements and text
$heroText: var(--colorBundle__heroText);
$pageTitle: var(--colorBundle__pageTitle);
$headings: var(--colorBundle__headings);
$footerText: var(--colorBundle__footerText);
$primary: var(--colorBundle__primary);
$secondary: var(--colorBundle__secondary);
$lightText: var(--colorBundle__lightText);
$lightText--rgb: var(--colorBundle__lightText--rgb);
$darkText: var(--colorBundle__darkText);
$utilityLight: var(--colorBundle__utilityLight);
$utilityDark: var(--colorBundle__utilityDark);
$tagLabel: var(--colorBundle__tagLabel);
$navigation: var(--colorBundle__navigation);
$navigationHover: var(--colorBundle__navigationHover);
$navigationActive: var(--colorBundle__navigationActive);
$interactionDarkColor: var(--colorBundle__interactionDarkColor);
$interactionDarkColor--rgb: var(--colorBundle__interactionDarkColor--rgb);
$interactionDarkHover: var(--colorBundle__interactionDarkHover);
$interactionLightColor: var(--colorBundle__interactionLightColor);
$interactionLightColor--rgb: var(--colorBundle__interactionLightColor--rgb);
$interactionLightHover: var(--colorBundle__interactionLightHover);

// UI elements
$accent: var(--colorBundle__accent);
$accent--rgb: var(--colorBundle__accent--rgb);
$formBorder: var(--colorBundle__formBorder);
$formFill: var(--colorBundle__formFill);
$dividerLine: var(--colorBundle__dividerLine);
$dividerLine--light: var(--colorBundle__dividerLineLight);
$dividerLine--light--rgb: var(--colorBundle__dividerLineLight--rgb);
$tagFill: var(--colorBundle__tagFill);
$tagBorder: var(--colorBundle__tagBorder);
$tagOutlinedHover: var(--colorBundle__tagOutlinedHover);
$tooltipBackground: var(--colorBundle__tooltipBackground);
$shading: var(--colorBundle__shading);
$shading--rgb: var(--colorBundle__shading--rgb);

// Backgrounds
$pageBackground: var(--colorBundle__pageBackground);
$panelBackground: var(--colorBundle__panelBackground);
$panelHeaderBackground: linear-gradient(
  120deg,
  map.get(colors.$colors, color__primary-1) 0%,
  map.get(colors.$colors, color__primary-2) 60%,
  map.get(colors.$colors, color__primary-3) 100%
);
$pageTitleBackground: var(--colorBundle__pageTitleBackground);
$navigationBackground: var(--colorBundle__navigationBackground);
$heroOverlay: var(--colorBundle__heroOverlay);
$footerBackground: var(--colorBundle__footerBackground);

// Utility colors
$utilitySuccess: var(--colorBundle__utilitySuccess);
$utilityWarning: var(--colorBundle__utilityWarning);
$utilityError: var(--colorBundle__utilityError);
$utilityInfo: var(--colorBundle__utilityInfo);
$utilityFocus: var(--colorBundle__utilityFocus);
