@use 'sass:math';
@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';
@use '../../00-settings/mixins';

$backgroundColor: colorBundles.$footerBackground;
$borderRadius: variables.$borderRadius__borderRadius--base;
$color: colorBundles.$footerText;
$font: variables.$typography__navigation__font;
$fontSize: variables.$typography__fontSize--small;
$link__color: colorBundles.$navigation;
$link__color--hover: colorBundles.$navigationHover;
$link__color--active: colorBundles.$navigationActive;
$menuItem__outlineColor: colorBundles.$navigationActive;

.region--footer {
  font-size: $fontSize;
  color: $color;
  background-color: $backgroundColor;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: (variables.$layout__spacing * 0.5) variables.$layout__spacing;
    padding-top: variables.$layout__spacing * 0.5;
    padding-bottom: variables.$layout__spacing * 0.5;

    .menu {
      display: flex;
      flex-wrap: wrap;
      gap: variables.$layout__spacing * 0.25 (variables.$layout__spacing * 0.5);
      list-style: none;
      padding-left: 0;
      margin: 0;

      > li {
        a {
          color: $link__color;
          border-radius: variables.$borderRadius__borderRadius--medium;

          &:hover {
            color: $link__color--hover;
          }

          &:active {
            color: $link__color--active;
          }
        }
      }
    }

    @include mixins.mediaQueries__forMobileOnly {
      justify-content: center;
      text-align: center;

      .menu {
        justify-content: center;
      }
    }
  }
}
