@use '../feather-icons' as featherIcons;

$fontFamily: 'feather';
$chevronUp: featherIcons.$chevron-up;
$chevronDown: featherIcons.$chevron-down;
$chevronRight: featherIcons.$chevron-right;
$arrowRight: featherIcons.$arrow-right;
$arrowLeft: featherIcons.$arrow-left;
$unlock: featherIcons.$unlock;
$lock: featherIcons.$lock;
$atSign: featherIcons.$at-sign;
$server: featherIcons.$server;
$file: featherIcons.$file;
$fileText: featherIcons.$file-text;
$externalLink: featherIcons.$external-link;
$close: featherIcons.$x;
$globe: featherIcons.$globe;
$play: featherIcons.$play;
$copy: featherIcons.$copy;
$info: featherIcons.$info;
$search: featherIcons.$search;
$view: featherIcons.$eye;
$edit: featherIcons.$edit-3;
$delete: featherIcons.$trash-2;
$analytics: featherIcons.$trending-up;
$user: featherIcons.$user;
$members: featherIcons.$users;
$add: featherIcons.$plus;
$subtract: featherIcons.$minus;
$revoke: featherIcons.$slash;
$grid: featherIcons.$grid;
$logOut: featherIcons.$log-out;
$accept: featherIcons.$check;
$decline: featherIcons.$x;
$resend: featherIcons.$rotate-cw;
$residence: featherIcons.$map-pin;
$mail: featherIcons.$mail;
$phone: featherIcons.$phone;
$compass: featherIcons.$compass;
$flag: featherIcons.$flag;
