@use '../color-bundles' as colorBundles;

$boxShadow: 0 1px 2px rgba(colorBundles.$shading--rgb, 0.1);
$boxShadow--hover: 0 4px 12px rgba(colorBundles.$shading--rgb, 0.1);
$boxShadow--darker: 0 1px 6px rgba(colorBundles.$shading--rgb, 0.4);
