button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font-size: 100%;
  display: inline-block;
  text-align: center;
}

// Responsive images
img {
  max-width: 100%;
  height: auto;
  display: block;
}

input[type='search'] {
  appearance: none;
}
