@use '../../00-settings/variables';
@use '../../00-settings/mixins';

$header__marginTop: variables.$layout__spacing * 2;

.site-content:has(.content-with-sidebar-first-exposed-filters) {
  .view__header {
    .text--overline {
      font-size: variables.$typography__fontSize--base;
    }
  }

  @include mixins.mediaQueries__forTabletLandscapeDown {
    .view--garden-bed-catalog {
      .grid {
        >[class*='col--'] {
          &:nth-child(n + 2) {
            margin-top: variables.$layout__spacing;
          }
        }
      }
    }
  }

  @include mixins.mediaQueries__forMobileOnly {
    .content-with-sidebar-first-exposed-filters {
      margin-top: 0;
    }
  }
}
