@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';

$empty__backgroundColor: colorBundles.$panelBackground;
$empty__borderColor: colorBundles.$dividerLine;
$empty__borderRadius: variables.$borderRadius__borderRadius--extraLarge;

.view__header {
  margin-bottom: variables.$layout__spacing * 1.5;
}

.view__empty {
  text-align: center;
  background-color: $empty__backgroundColor;
  border: 1px dashed $empty__borderColor;
  border-radius: $empty__borderRadius;
  padding: variables.$layout__spacing;
}
