@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';

$empty__backgroundColor: colorBundles.$panelBackground;
$empty__borderColor: colorBundles.$dividerLine;
$empty__borderRadius: variables.$borderRadius__borderRadius--extraLarge;

.views-element-container {
  .view__header {
    margin-bottom: variables.$layout__spacing * 1.5;

    .entry__subtitle {
      font-style: normal;
    }
  }
}
