@use 'sass:math';
@use '../../00-settings/color-bundles' as colorBundles;
@use '../../00-settings/variables';
@use '../../00-settings/mixins';
@use '../../02-atoms/buttons';

// Common
$disabled__opacity: 0.4;
$error__color: colorBundles.$utilityError;
$error--hover__color: hsl(from colorBundles.$utilityError h 97% 27%);

// Field label
$label__font: variables.$typography__text--medium__font;
$label__fontSize: variables.$typography__fontSize--small;
$required__color: colorBundles.$utilityError;

// Description
$description__fontSize: variables.$typography__fontSize--extraSmall;
$description__color: colorBundles.$secondary;

// Input
$input__minHeight: 40px;
$input__padding--vertical: 10px;
$input__padding--horizontal: 14px;
$input__padding: $input__padding--vertical $input__padding--horizontal;
$input__fontSize: variables.$typography__fontSize--small;
$input__color: colorBundles.$primary;
$input__backgroundColor: colorBundles.$formFill;
$input__borderWidth: 1px;
$input__borderColor: colorBundles.$formBorder;
$input__borderRadius: variables.$borderRadius__borderRadius--large;
$input--hover__borderColor: colorBundles.$selectionOutline;
$input__error__borderColor: colorBundles.$utilityError;
$input__success__borderColor: colorBundles.$utilitySuccess;
$input__warning__borderColor: colorBundles.$utilityWarning;

// Checkbox and checkmark
$checkbox__borderWidth: 1px;
$checkbox__borderRadius: variables.$borderRadius__borderRadius--medium;
$checkmark__color: colorBundles.$lightText;
$checkmark__backgroundColor: colorBundles.$panelBackground;
$checkmark--active__backgroundColor: colorBundles.$tertiary;
$checkmark__borderColor: colorBundles.$selectionOutline;
$checkmark--hover__backgroundColor: colorBundles.$interactionDarkHover;
$checkmark__size: 16px;
$checkmark__icon: variables.$icons__accept;
$checkmark__icon__size: 14px;

// Radio
$radio__borderWidth: 1px;
$radio__borderRadius: 50%;
$radio__backgroundSize: 10px;

// Form header
$formHeaderIcon__color: colorBundles.$iconColorLight;
$formHeaderIcon__backgroundColor: colorBundles.$navigationBackground;

// Form footer
$formFooter__divider: colorBundles.$dividerLine--gradient;

%input--disabled {
  opacity: $disabled__opacity;
  cursor: default;
}

%checkmark--disabled {
  opacity: $disabled__opacity;
}

%checkbox-container--disabled {
  pointer-events: none;

  ~ label {
    opacity: $disabled__opacity;
    pointer-events: none;
  }
}

%checkbox-input--disabled {
  ~ .checkmark--checkbox,
  ~ .checkmark--radio {
    opacity: $disabled__opacity;
    cursor: default;

    &::after {
      display: none;
    }
  }

  &:checked {
    ~ .checkmark--checkbox,
    ~ .checkmark--radio {
      opacity: $disabled__opacity;
    }
  }
}

.form-item {
  label {
    @include mixins.fonts__setFontFromStack($label__font...);
    font-size: $label__fontSize;
    display: flex;
    margin-bottom: math.div(variables.$layout__spacing, 8);
  }

  .description {
    font-size: $description__fontSize;
    color: $description__color;
    margin-top: math.div(variables.$layout__spacing, 8);
  }
}

.form-item:has(+ .form-item) {
  margin-bottom: variables.$layout__spacing * 0.5;
}

input,
select,
textarea {
  @include mixins.focusState__focusState;
  font-size: $input__fontSize;
  color: $input__color;
  min-height: $input__minHeight;
  width: 100%;
  max-width: 100%;
  border: $input__borderWidth solid $input__borderColor;
  border-radius: $input__borderRadius;
  background-color: $input__backgroundColor;
  padding: $input__padding;

  &:hover {
    border-color: $input--hover__borderColor;
  }

  &.error {
    border-color: $input__error__borderColor;
  }

  &.success {
    border-color: $input__success__borderColor;
  }

  &.warning {
    border-color: $input__warning__borderColor;
  }
}

.form-actions {
  margin-top: variables.$layout__spacing * 0.5;
}

.form-required {
  position: relative;

  &::before {
    content: '*';
    margin-right: math.div(variables.$layout__spacing, 6);
    font-size: variables.$typography__fontSize--small;
    color: $required__color;
  }
}

.form-disabled {
  .checkmark {
    @extend %checkmark--disabled;
  }

  select,
  input {
    @extend %input--disabled;
  }

  .checkbox-container {
    @extend %checkbox-container--disabled;

    input {
      @extend %checkbox-input--disabled;
    }
  }
}

select,
input {
  &:disabled {
    @extend %input--disabled;
  }
}

.checkmark {
  &:disabled {
    @extend %checkmark--disabled;
  }
}

.form-type-checkbox,
.form-type-radio {
  display: flex;
  align-items: flex-start;
  gap: variables.$layout__spacing * 0.25;
}

%checkbox-container,
.checkbox-container {
  position: relative;
  user-select: none;
  height: $checkmark__size;
  width: $checkmark__size;
  flex-shrink: 0;

  &:has(.error) {
    .checkmark--checkbox,
    .checkmark--radio {
      border-color: $input__error__borderColor;
    }

    ~ label {
      color: $error__color;
    }

    input {
      &:checked {
        ~ .checkmark--checkbox {
          background-color: $error__color;
          border-color: $error__color;
        }

        ~ .checkmark--radio {
          border-color: $error__color;

          &::after {
            background-color: $error__color;
          }
        }

        &:hover,
        &:active {
          ~ .checkmark--checkbox,
          ~ .checkmark--radio {
            background-color: $error--hover__color;
          }
        }
      }
    }
  }

  &:has(input:disabled) {
    @extend %checkbox-container--disabled;
  }

  ~ label {
    margin: 0;
    cursor: pointer;
  }

  input {
    min-height: auto;
    margin: 0;
    opacity: 0;

    &:checked {
      ~ .checkmark {
        &::after {
          display: block;
        }
      }

      ~ .checkmark--checkbox {
        background-color: $checkmark--active__backgroundColor;
        border-color: $checkmark--active__backgroundColor;
      }

      ~ .checkmark--radio {
        background-color: $checkmark__color;
        border-color: $checkmark--active__backgroundColor;
      }

      &:hover,
      &:active {
        ~ .checkmark {
          &::after {
            color: $checkmark__color;
            background-color: $checkmark--hover__backgroundColor;
          }
        }
      }
    }

    &:disabled {
      @extend %checkbox-input--disabled;
    }

    &:hover,
    &:active {
      ~ .checkmark {
        &::after {
          display: block;
          color: $checkmark--active__backgroundColor;
        }
      }
    }

    &:focus-visible {
      ~ .checkmark {
        outline: variables.$focusState__outlineWidth variables.$focusState__outlineStyle variables.$focusState__outlineColor;
        outline-offset: variables.$focusState__outlineOffset;
        box-shadow: variables.$focusState__outlineBoxShadow;
      }
    }
  }
}

%checkmark,
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: $checkmark__size;
  width: $checkmark__size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    display: none;
  }
}

%checkbox,
.checkmark--checkbox {
  border: $checkbox__borderWidth solid $checkmark__borderColor;
  border-radius: $checkbox__borderRadius;
  background-color: $checkmark__backgroundColor;

  &::after {
    font-family: variables.$icons__fontFamily;
    content: $checkmark__icon;
    font-size: $checkmark__icon__size;
    color: $checkmark__color;
    line-height: 1;
  }
}

%radio,
.checkmark--radio {
  border: $radio__borderWidth solid $checkmark__borderColor;
  border-radius: $radio__borderRadius;

  &::after {
    width: $radio__backgroundSize;
    height: $radio__backgroundSize;
    border-radius: $radio__borderRadius;
    background-color: $checkmark--active__backgroundColor;
  }
}

.form.extra-thin {
  .form__body {
    .form-submit {
      width: 100%;
    }
  }
}

.form__header,
.form__footer {
  font-size: variables.$typography__fontSize--small;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: math.div(variables.$layout__spacing, 8);

  p {
    margin: 0;
  }
}

.form__header {
  color: colorBundles.$secondary;
  margin-bottom: variables.$layout__spacing;

  .form__header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: variables.$typography__fontSize--base;
    color: $formHeaderIcon__color;
    background-color: $formHeaderIcon__backgroundColor;
    border-radius: variables.$borderRadius__borderRadius--extraLarge;
    margin-bottom: variables.$layout__spacing * 0.375;
    width: 50px;
    height: 50px;

    span {
      &::before {
        font-size: 16px;
      }
    }
  }
}

.form__footer {
  margin-top: variables.$layout__spacing;
  
  &::before {
    content: '';
    background: $formFooter__divider;
    width: 100%;
    height: 1px;
    margin-bottom: variables.$layout__spacing * 0.5;
  }
}
